<h1>Create New Figure!</h1>
<form action="/landmarks" method="post">
  <label>Name: <input type="text" name="landmark[name]" id="landmark_name"></label><br>
  <label>Year completed: <input type="text" name="landmark[year_completed]" id="landmark_year_completed"></label><br>


  <br><input type="submit" name="submit" value="Create" id="Create New Landmark">
</form>
